* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    height: 100vh;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    width: 400px;
    height: 400px;
    border: 5px solid gray;
    border-radius: 50%;
    position: relative;
}

.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
}

.minute {
    width: 3px;
    height: 130px;
    background: blue;
    animation: rotate 20s linear infinite;
}

.second {
    width: 2px;
    height: 150px;
    background: red;
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}